<nz-modal nzMaskClosable="false" nzClassName="vn-modal-add" [(nzVisible)]="isVisible" nzTitle="Thêm mới người dùng"
  (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()" nzOkText="Lưu" nzCancelText="Hủy bỏ">
  <ng-container *nzModalContent>
    <form #formDirective="ngForm" nz-form autocomplete="off" nzLayout='vertical' [formGroup]="validateForm"
      class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzErrorTip]="getErrTipByField('email')">
          <nz-input-group>
            <input type="email" nz-input formControlName="email" placeholder="Please enter E-mail" email="true" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="username">User name</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="getErrTipByField('username')">
          <nz-input-group>
            <input type="text" nz-input formControlName="username" autocomplete="new-username"
              placeholder="Please enter Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="getErrTipByField('password')">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input autocomplete="new-password"
              formControlName="password" placeholder="Please enter Password" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'" (click)="handleShowPassword()"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="quota">Quota</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="getErrTipByField('quota')">
          <nz-input-group>
            <input type="text" nz-input formControlName="quota" placeholder="Please enter Quota" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-modal>