[nz-carousel-content] {
  text-align: center;
  height: 350px;
  line-height: 350px;
  // background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

::ng-deep .ant-carousel {
  .slick-slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}



::ng-deep .box-pd {
  height: 100%;

  .ant-card-body {
    height: 100%;
  }

  .image-prd {
    height: 390px;
  }

  .footer-prd {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-prd {
    height: calc(100% - 390px - 80px);
    h2 {
      display: flex;
      font-size: 50px;
      color: red;
      justify-content: center;
    }
  
  }




  h4 {
    display: flex;
    font-size: 30px;
    justify-content: center;
  }

  h2 {
    display: flex;
    font-size: 50px;
    color: red;
    justify-content: center;
  }

  .card-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #db6018;
    color: #fff;
    border-top: 1px solid #f0f0f0;


    // position: absolute;
    // bottom: 31px;
    // width: fit-content;
    // padding: 10px;
    // width: 90%;
    // margin-left: 4px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .add-cart {
    font-size: 24px;
    color: #fff;
  }

  // .card-actions {
  //   position: absolute;
  //   width: 100%;
  //   bottom: 0;
  //   margin-left: -10px;
  // }

  .card-actions>li {
    float: left;
    margin: 12px 0;
    color: rgba(0, 0, 0, .45);
    color: #fff;
    font-size: 40px;
  }
}

::ng-deep .tag-promo {
  position: absolute;
  top: 0;
  right: 0;

  .ribbon {
    line-height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    letter-spacing: -2px;
    display: block;
    width: 70px;
    height: 80px;
    background: linear-gradient(to bottom, #d3362d 0%, #e57368 100%);
    color: white;
    // margin: 1em 0.5em 0;
    float: left;
    padding-top: 15px;
    position: relative;
    -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
    transform: translate3d(0, 0, 0);
  }

  .ribbon:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
    border-top: 13px solid #e57368;
    position: absolute;
    top: 5rem;
    left: 0;
  }
}